{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minecraft Seedbase</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
            <h1>Minecraft Seedbase</h1>
            <div class="auth-links">
                {% if user.is_authenticated %}
                    <form action="{% url 'logout' %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="auth-btn auth-btn-logout">Logout</button>
                    </form>
                {% else %}
                    <a href="{% url 'login' %}" class="auth-btn auth-btn-login">Login</a>
                    <a href="{% url 'register' %}" class="auth-btn auth-btn-login">Sign Up</a>
                {% endif %}
            </div>
    </header>

    <main class="container">
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="message {{ message.tags }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}

        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>About: This is a simple app to store and search for Minecraft seeds. Built with Django.</p>
    </footer>
</body>
</html>